:root {
    --primary-color: #FFD54F;
    --secondary-color: #D7C7FF;
    --background-gradient: linear-gradient(to right, #FFEBB7, var(--secondary-color));
    --text-color: #2F2F2F;
    --border-color: #ddd;
    --white: #fff;
    --stroke: #524B43;
    --button-primary: #EEBE4F;
    --button-secondary: #D9D9D9;
}

.conts{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
    gap: 200px;
}

.edit-profile button{
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

button{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.edit-profile button.b2{
    background-color: var(--button-primary);
}

.edit-profile button.b1{
    background-color: var(--button-secondary);
}

.edit-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.edit-profile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-section .hexagon {
    position: relative;
    width: 150px;
    height: 165px;
    background-color: #EEBE4F; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.profile-section .hexagon img {
    width: 75%;
    height: 75%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit: cover;
}


.hexagon-btn-wrapper {
    position: relative;
    display: inline-block;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #EEBE4F;
    width: 150px;
    height: 165px;
    transition: transform 0.3s ease;
    cursor: pointer;
    bottom: 72px;
    border-radius: 20px;
}

/* .hexagon-btn-wrapper:hover {
    transform: scale(1.1); 
} */

.info{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    gap: 20px;
    flex: 1;
}

.info-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-info p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.table-responsive th span{
    display: flex;
    align-items: center;
    gap: 5px;
}


.input-container {
    position: relative;
}

.input-container input {
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
}

.input-container .icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-container input[type="text"],
.input-container input[type="date"],
.input-container input[type="email"],
.input-container input[type="password"] {
    border: none;
    padding: 10px 40px;
    background-color: white !important;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EAECF0;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-bottom-color 0.3s ease;
    font-size: 30px;
    line-height: 1;
}

.input-container input[type="email"],
.input-container input[type="password"] {
    background-color: white !important;
}

input:focus {
    border-bottom-color: #344054 !important; 
}

.info-info button.b3{
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--button-secondary);
    gap: 8px;
}

.info-info h1{
    font-weight: bold;
    font-size: 55px;
}

/* modal */

.modal2, .modal3, .modal4 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    align-items: center;
    justify-content: center;
    h2{
        font-size: 55px;
        line-height: 1;
    }
}
  
  .modal-content2,  .modal-content3,  .modal-content4 {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.modal-content2 img, .modal-content3 img, .modal-content4 img {
    max-width: 100px;
    margin-bottom: 20px;
}


.cancel2, .save2, .cancel3, .save3, .cancel4, .save4  {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
}

.cancel2, .cancel3, .cancel4 {
    background-color: #D9D9D9;
}

.save2, .save3, .save4 {
    background-color: #EEBE4F;
}

.modal-content2::before,
.modal-content2::after,
.modal-content3::before,
.modal-content3::after,
.modal-content4::before,
.modal-content4::after {
    content: "";
    display: block;
    width: 150px; 
    height: 150px; 
    background-size: cover;
    position: absolute;
}

.modal-content2::before, .modal-content3::before, .modal-content4::before {
    background-image: url('../img/modal/before.png'); 
    left: -11px;
    top: 75px;
    transform: translateY(-50%);
}

.modal-content2::after, .modal-content3::after, .modal-content4::after {
    background-image: url('../img/modal/after.png'); 
    right: -1px;
    top: 77%;
    transform: translateY(-50%);
}

.buts2, .buts3, .buts4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


