{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Your Email</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password3.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/landingpage/logo.png' %}" type="image/x-icon"> 
</head>
<body style="background: url({% static 'img/register/background.png' %}) no-repeat center center; background-size: cover; background-attachment: fixed;">
    <div class="logo">
        <img src="{% static 'imgs/logo.png'%}" alt="E-Hive Logo">
    </div>
    <div class="overlay">
        <div class="form-container">
            <div class="logo-modal">
                <img src="{% static 'imgs/lock.png'%}" alt="Lock Icon">
            </div>
            <h2>Check your email</h2>
            <p class="small-text">We sent a password reset link to Yourname@gmail.com</p>
            <button id="open-email-app">Open Email App</button>
            <p class="resend-text">
                Didn’t receive the email? <a href="#" class="resend-link">Click to resend</a>
            </p>
            <a href="{% url 'login' %}" class="back-link">Back to <span>log in</span></a>
        </div>
    </div>
</body>
</html>
