{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/landingpage/logo.png' %}" type="image/x-icon"> 
</head>
<body style="background: url({% static 'img/register/background.png' %}) no-repeat center center; background-size: cover; background-attachment: fixed;">
    <div class="logo">
        <img src="{% static 'imgs/logo.png'%}" alt="E-Hive Logo">
    </div>
    <div class="overlay">
        <div class="form-container">
            <div class="logo-modal">
                <img src="{% static 'imgs/key.png'%}" alt="Key">
            </div>
            <h2>Forgot Password?</h2>
            <p>No worries, we’ll send you reset instructions.</p>
            <form id="forgot-password-form" action="{% url 'forgot_password2' %}">
                <input type="email" id="email" placeholder="Email Address" required>
                <button type="submit">Reset Password</button>
            </form>
            <a href="{% url 'login' %}" class="back-link">Back to <span>log in</span></a>
        </div>
    </div>
    <script src="forgot_password.js"></script>
</body>
</html>